Django==1.6.2
boto==2.25.0
dj-database-url==0.2.2
django-classy-tags==0.4
django-password-reset==0.6.1
django-redis-cache==0.10.2
django-secure==1.0
django-sekizai==0.7
django-ses==0.4.1
django-storages==1.1.8
django-tagging==0.3.1
geopy==0.98
gevent==1.0
greenlet==0.4.2
gunicorn==18.0
psycopg2==2.5.2
python-openid==2.2.5
pytz==2013.9
raven==4.0.4
redis==2.9.1
requests==2.2.1
